@model Payment
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kata - BabySitter</h1>
    <p class="lead">Sample Application to calculate Babysitter payment.</p>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Babysitter Hours
            </div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div class="panel-body">

                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    <div>
                        @Html.LabelFor(model => model.StartDateTime)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.StartDateTime, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(x => x.StartDateTime)
                    </div>
                  
                    <div>
                        @Html.LabelFor(model => model.BedTime)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.BedTime, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(x => x.BedTime)
                    </div>
                    <div>
                        @Html.LabelFor(model => model.EndDateTime)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.EndDateTime, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(x => x.EndDateTime)
                    </div>
                    
                    @if (Model.AmountOwed > 0)
                    {
                        <div>
                    <p class="h2">Amount Owed: <span>@Model.AmountOwed.ToString("C")</span></p>
            </div>
                    }
                </div>

                

            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
        </div>
    </div>

</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('.time').datetimepicker({
                sideBySide: true,
                useCurrent: true,
                format: "MM/DD/YYYY h:00 a"
            });
        });
    </script>
}